<div class="grille">
    <div *ngFor="let i of [0, 1, 2]" class="row">
        <app-case
          *ngFor="let j of [0, 1, 2]"
          [currentPlayer]="currentPlayer"
          [index]="i*3+j"
          [isGameFinished]="isGameFinished"
          (askToUpdateCasesArray)="updateCasesArray($event)"
          (askToChangePlayer)="changePlayer($event)"
        ></app-case>
    </div>
    <p class="info"> {{ gameMessage }}</p>
    <button class="restart" (click)="restartGame()" [disabled]="!isGameFinished">Restart Game</button>
</div>